# Node.js dependencies and build artifacts
dist/
build/
node_modules/
node_modules

# Docker and VS Code files
docker-compose*.json
.devcontainer/
.vscode/
VOLUMES/

# Environment variables
.env
.env.local
.env.*.local

/WEB/BACKEND/CODE/node_modules/
C:\projetpfefinnalsahrecode\pfeproject\agent_server\main.py