[Unit]
Description=FastCGI Wrapper for Git HTTP Backend
After=network.target

[Service]
ExecStart=/usr/sbin/fcgiwrap -s unix:/var/run/fcgiwrap/fcgiwrap.socket
User=www-data
Group=www-data
Restart=always

[Install]
WantedBy=multi-user.target
